*{
  background-color: rgb(134, 134, 167);
}

.App {
  text-align: center;
  
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.boxes{
  margin: 20px;
  padding: 5px;

}
button{
  width: auto;
  height: 35px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  border: 4px solid black;
  cursor: pointer;
  color: white;
  background-color: #282c34;
}
input{
  width: auto;
  height: 30px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 9px;
  border: 3px solid;
}

select{
  width: auto;
  height: 30px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 9px;
  border: 3px solid;
}